.root-container {
  list-style-type: none;
}

.root-container > li {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.root-container > li > * > h3 {
  margin-top: 0.25rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.root-container > li  > h3 {
    margin-top: 0.25rem;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
